* {
    box-sizing: border-box;
  }
  .main-game-details {
      padding: 20px;
  }
  /* Create two equal columns that floats next to each other */
  .image-column{
    float: left;
    width: 40%;
    padding: 10px;
  }

  .details-column{
    float: left;
    width: 60%;
    padding: 10px;
  }

  .details-column p {
    font-size: 14px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .image {
    height: 270px;
    width: 450px;
  }